/* Add this CSS to your TestingComponent.css file */

 
.testing-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  /* bottom: 0 ;  */
}

.floating-box {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 

}

.loading1 {
  font-size: 16px;
  margin-top: 10px; 
  width: 16vh;
  height: 10vh;
  color: #3498db; /* Blue color */
}

.success {
  font-size: 24px;
  margin-top: 10px;
  color: #27ae60; /* Green color */
}

/* Adjust colors and styles as needed */
