.loading{
    width : 100vw ; 
    height: 100vh ;  
    background-color: white; 
    display : grid ;   
    place-items: center; 
    max-width: 100%;
    
}
.loading >div{
      width: 10vmax ;   
      border-bottom: 5px solid rgb(110 , 110 ,110);  
      height:  10vmax  ;  
      border-radius: 50%; 
      animation : loadingRotate 1s linear infinite;  
     
}    

@keyframes loadingRotate{ 
      to{
        transform:rotate(-360deg);
      }

}