.Overview-section {
    height: 170vh; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 60px;
    background-color: rgb(255, 255, 255);
}
    .columns-container {
      display: flex;
      justify-content: space-between;
      border: 1px solid #ccc;
    }
    
    .right-content-text {
      flex-basis: 40%; /* Adjust the width as needed */
      border: 1px solid #ccc;
      padding: 60px;
      padding-top: 140px;
    }
    .left-content-text {
      flex-basis: 65%; /* Adjust the width as needed */
    }
    
  /* Additional styling for h1, h2, and p tags can be added here */
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  
  .card {
    background-color: #7e7979;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 14rem;
    position: relative;
  }
  .card h2 {
    margin: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .card p {
    margin: 0;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
  }


  .upper-column {
    position: relative;
    top: -90px; /* Adjust as needed to shift the column up */
  }
  
  .lower-column {
    position: relative;
    bottom: -90px; /* Adjust as needed to shift the column down */
  }
  
  .card .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .card .card-header .card-logo {
    width: 30px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px; /* Adjust spacing as needed */
  }