.intro-section {
    height: 100vh; /* Set the height to the full viewport height */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #32485a;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 50px; 
    font-size: medium;
    background-image: url('../../background2.png');
    background-position: center;
    background-size: cover;
  }
  
  .right-content h2{
    flex: 1;
    text-align: left;
    font-size: 70px;
  }
  .right-content p{
    flex: 1;
    text-align: left;
    font-size: 20px;
  }

  