.clicktoresult{
    text-align: center;
    padding: 20%;
    font-size: 40px;
    
}
.clicktoresult button{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(91, 147, 219);
    color: white;
    border-radius: 5px;
}

.ticks{
    margin: 5%;
    margin-left: 30%;
}
.loading{
    height: 10px !important;
    width: 10px !important;
    margin: 200px;
    text-align: center;
    font-size: 40px;
    color: rgb(91, 147, 219);
}

.ticks ul{
    margin-top: 100px;
    list-style: none;
    margin-left: 17%;

}